body{
    background-image: linear-gradient(rgb(184, 177, 190));

}
.container{
    width: 90%;
    margin: 0 auto;

}
.header{
    background-color: rgb(176, 149, 202);
    height: 100px;
    background-repeat: no-repeat;
}
.footer{
    background-color: rgb(104, 89, 119);
    height: 80px;
    clear: both;
}
.left{
    background-color: rgb(111, 151, 202);
    height: 450px;
    width: 20%;
    float: left;
}
.main{
    background-color:rgb(70, 170, 137);
    height: 450px;
    width: 60%;
    float: left;
}
.right{
    background-color: rgb(55, 112, 69);
    height: 450px;
    width: 20%;
    float: left;
}